RPC_URL=http://127.0.0.1:8545
PRIVATE_KEY=0xYOUR_PRIVATE_KEY
ALICE_PK=0xYOUR_ALICE_PRIVATE_KEY
STAKING_ADDR=0xYourStakingRewardsAddress
STAKING_TOKEN=0xYourStakingTokenAddress
REWARD_TOKEN=0xYourRewardTokenAddress
REWARDS_DURATION=604800
REWARD_AMOUNT=0
ALICE_STAKE_AMOUNT=100000000000000000000
ALICE_TIER_INDEX=0
